 
// variables
$bg-color : #f8f9fa;
$primary-font-face : 'Playfair Display', serif;

// classes
.container {
    padding:20px;
    font-family: $primary-font-face;
    background-color: $bg-color;
    
}

// html elements
body {
    margin:0 !important;
}

